<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0499AE22-5639-465C-8019-AE3C60D01C36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88DF2F1B-7914-4CF7-8C23-F53CFC001EE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>073967C7-C644-49E3-AAF1-FAEA2DE978E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBA6B788-2CEB-43CA-BA0C-C595B08F6148</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>117C8AF6-6A90-4BFF-8712-418F0A07992F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79D9EEFD-39C3-4F4A-8C95-A86175A563B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CB61799-FCF0-452C-A65C-3DA7516E6F51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F9A1B72-86B8-482A-AA45-E31CB028EA88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63D1CCF0-6D1B-401F-B8E0-EF66D05B147B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1A9E67B-47FB-48CF-A751-75C956A4D07F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>700B9C15-8000-4C13-A27B-7A3E0D1FDADE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91DD6DC7-75F0-4BDD-8339-B950019C6101</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ADA404C-5C80-49BF-9BAA-A1C92FDDDDB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94D33B9A-7513-4D85-85E1-49C6AFDB1BAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC9B2683-6824-4D63-B67F-92239EE96B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB96CFCE-149D-4799-A654-0EC78A235BB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BA921E0-4D2E-4C94-882C-2053583B279B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3ECD9F4-FEDB-44DE-AB2F-AD65A7E6BFB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36A2A8F2-CE2A-44D7-95F1-DDFA02CA248F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1454E3D-7839-4CF2-A7CC-8BAB8ED8E85C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA4F3BA-4B97-42BA-9085-E965EDC04C47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA439EA3-BE7D-4C18-BABF-744AFE681148</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C124AD6B-2548-4658-87B5-9F0486A2313A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joey</string>
	<key>description</key>
	<string>webs needs to open usually</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>webpages</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wikix</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>wiki xiao</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AB96CFCE-149D-4799-A654-0EC78A235BB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://wiki.xiaoheiban.cn/pages/viewpage.action?pageId=1114115</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4BA921E0-4D2E-4C94-882C-2053583B279B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>79D9EEFD-39C3-4F4A-8C95-A86175A563B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>git</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>117C8AF6-6A90-4BFF-8712-418F0A07992F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://leetcode-cn.com/problemset/all/?difficulty=%E7%AE%80%E5%8D%95</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1A9E67B-47FB-48CF-A751-75C956A4D07F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>leet</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>leetcode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63D1CCF0-6D1B-401F-B8E0-EF66D05B147B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://leetcode.com/problemset/all/?difficulty=Easy</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>700B9C15-8000-4C13-A27B-7A3E0D1FDADE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bili</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>bilibili</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>073967C7-C644-49E3-AAF1-FAEA2DE978E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.bilibili.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FBA6B788-2CEB-43CA-BA0C-C595B08F6148</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.yuque.com/dashboard</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88DF2F1B-7914-4CF7-8C23-F53CFC001EE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yuque</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>yuque</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0499AE22-5639-465C-8019-AE3C60D01C36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jenkins</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>jenkins</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1454E3D-7839-4CF2-A7CC-8BAB8ED8E85C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jd.xiaoheiban.cn</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5BA4F3BA-4B97-42BA-9085-E965EDC04C47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gitlab</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>gitlab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94D33B9A-7513-4D85-85E1-49C6AFDB1BAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.xiaoheiban.cn/dashboard/projects</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC9B2683-6824-4D63-B67F-92239EE96B4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jumpserver</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>jumpserver</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5CB61799-FCF0-452C-A65C-3DA7516E6F51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jump.xiaoheiban.cn/assets/user-asset/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6F9A1B72-86B8-482A-AA45-E31CB028EA88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hkss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>hkss</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91DD6DC7-75F0-4BDD-8339-B950019C6101</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://home.hkssprotal.com/auth/login</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6ADA404C-5C80-49BF-9BAA-A1C92FDDDDB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C124AD6B-2548-4658-87B5-9F0486A2313A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>youtube</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>youtube</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA439EA3-BE7D-4C18-BABF-744AFE681148</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>腾讯企业邮箱</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3ECD9F4-FEDB-44DE-AB2F-AD65A7E6BFB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://exmail.qq.com/cgi-bin/frame_html?sid=MtUYaQHyQLbiZU4T,7&amp;r=2d390f09f0aeea45c3ea816b885e726f</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>36A2A8F2-CE2A-44D7-95F1-DDFA02CA248F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0499AE22-5639-465C-8019-AE3C60D01C36</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>073967C7-C644-49E3-AAF1-FAEA2DE978E2</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>117C8AF6-6A90-4BFF-8712-418F0A07992F</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>36A2A8F2-CE2A-44D7-95F1-DDFA02CA248F</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>1525</integer>
		</dict>
		<key>4BA921E0-4D2E-4C94-882C-2053583B279B</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5BA4F3BA-4B97-42BA-9085-E965EDC04C47</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>5CB61799-FCF0-452C-A65C-3DA7516E6F51</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>63D1CCF0-6D1B-401F-B8E0-EF66D05B147B</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>6ADA404C-5C80-49BF-9BAA-A1C92FDDDDB2</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>1275</integer>
		</dict>
		<key>6F9A1B72-86B8-482A-AA45-E31CB028EA88</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>700B9C15-8000-4C13-A27B-7A3E0D1FDADE</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>79D9EEFD-39C3-4F4A-8C95-A86175A563B3</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>88DF2F1B-7914-4CF7-8C23-F53CFC001EE8</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>91DD6DC7-75F0-4BDD-8339-B950019C6101</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>1275</integer>
		</dict>
		<key>94D33B9A-7513-4D85-85E1-49C6AFDB1BAB</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>AB96CFCE-149D-4799-A654-0EC78A235BB5</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B3ECD9F4-FEDB-44DE-AB2F-AD65A7E6BFB6</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1525</integer>
		</dict>
		<key>C124AD6B-2548-4658-87B5-9F0486A2313A</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>1395</integer>
		</dict>
		<key>E1454E3D-7839-4CF2-A7CC-8BAB8ED8E85C</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>EA439EA3-BE7D-4C18-BABF-744AFE681148</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>1395</integer>
		</dict>
		<key>EC9B2683-6824-4D63-B67F-92239EE96B4D</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>F1A9E67B-47FB-48CF-A751-75C956A4D07F</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>FBA6B788-2CEB-43CA-BA0C-C595B08F6148</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
